/* Add your styles here */
        body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0; /* Remove default margin */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full viewport height */
            overflow: hidden; /* Prevent scrolling */
            flex-direction: column;
        }
        .letter {
            font-size: 4em;  /* Increase the size of the letters */
            display: inline-block;
            margin: 5px;
            animation: pop 1s ease-in-out, float 3s infinite, distort 1.5s infinite;
            position: relative;
        }
        @keyframes pop {
            0% { transform: scale(1); opacity: 0; }
            50% { transform: scale(1.5); opacity: 1; }
            100% { transform: scale(1); opacity: 0; }
        }
        @keyframes float {
            0% { top: 0; }
            50% { top: -20px; }
            100% { top: 0; }
        }
        @keyframes distort {
              25% { transform: skew(20deg, 10deg) rotate(5deg); }

            50% { transform: skew(-20deg, -10deg) rotate(-5deg); }

             75% { transform: skew(20deg, 10deg) rotate(5deg); }

              100% { transform: skew(0deg, 0deg) rotate(0deg); }

           }

  
     
     
     
     
     
     
     
     

        #canvasContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1; /* Ensure the canvas takes available space */
        }
    